{% extends "learning_logs/base.html" %} 

{% block header %}
  <div class='jumbotron'>
    <h1>Ведите свой журнал</h1>
  </div>
{% endblock header %}

{% block content %}
  <h2>
     Создайте свой собственный журнал обучения и перечислите темы, которые вы изучаете
  </h2>
  <h2>
    Всякий раз, когда вы узнаёте что-то новое по теме, делайте запись,
    в которой кратко излагайте то, что узнали.
  </h2>
  <h3>
    <a href="{% url 'users:register' %}">Регистрация аккаунта</a>
  </h3>
{% endblock content %}